{
  "presets": [
    ["env", {
      "targets": {
        "ie": "9",
        "browsers": ["> 0.2%"]
      },
      "useBuiltIns": true,
      "modules": false,
      "debug": true
    }],
    "react"
  ],
  "plugins": [
    ["syntax-dynamic-import"],
    ["react-loadable/babel"],
    ["transform-imports"],
    ["transform-react-remove-prop-types", {
      "mode": "wrap",
      "ignoreFilenames": ["node_modules"]
    }]
  ],
  "env": {
    "test": {
      "presets": ["env", "react"],
      "plugins": [
        ["babel-plugin-webpack-aliases",
          {
            "config": "./webpack.production.config.js"
          }
        ]
      ]
    }
  }
}