.DS_Store
*.log
vendor
node_modules
.nyc_output/
coverage/
app/_ref
app/src/build
what-to-do-with-grassroots-once-you-have-them/index.html
index.html
app/src/data/
app/src/App/stylesheets/_config.scss
