@import '../../stylesheets/all';

ul li::before {
  content: '';
  padding: 0;
}

.lesson ul {
  text-indent: 0;
}

.lesson .lesson-title {
  margin-bottom: 0;
}

.lesson .lesson-breadcrumbs {
  margin-bottom: em(20);
  font-size: .85em;
  margin-top: 0.25em;
}

.lesson .lesson-video {
  height: 0;
  margin: 1em 0;
  padding-bottom: 57.25%; /* 16:9 */
  padding-top: em(25);
  position: relative;

  @include bp($tablet) {
    margin: 2em 0;
  }
}

.lesson .lesson-video iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.lesson .lesson-nav {
  margin: 1em 0 2em;
  overflow: hidden;
}

.lesson .lesson-buttonnav {
  @include bp($tablet) {
    float: left;
  }
}

.lesson .lesson-buttonnav > a {
  background: #000;
  display: inline-block;
  margin-right: 0.5em;
  padding: .625em .9375em;
  text-decoration: none;
}

.lesson .lesson-buttonnav > a:hover {
  background: #222;
  text-decoration: underline;
}

.lesson .lesson-pagination {
  display: none;

  @include bp($tablet) {
    display: block;
    float: right;
    margin: 0;
    position: relative;
    z-index: 0;
  }
}

.lesson .lesson-pagination li {
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background: #333;
  margin: 0 0 0 1.5em;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.lesson .lesson-pagination li a {
  color: white;
  text-decoration: none;
}

.lesson .lesson-pagination li::before{
  content: '';
  position: absolute;
  top: .9em;
  left: -3em;
  width: 3em;
  height: .2em;
  background: #333;
  z-index: -1;
}

.lesson .lesson-pagination li:first-child::before {
  display: none;
}

.lesson .lesson-pagination .active {
  background: #333;
}

.lesson .lesson-pagination .active ~ li {
  background: #aaa;
}

.lesson .lesson-pagination .active ~ li::before {
  background: #aaa;
}
