@import '../../stylesheets/all';

.object {
  display: inline-block;
  margin: 0 0 1em;
  padding: 1em;
  clear: both;
  overflow: hidden;

  @include bp($laptop) {
    width: 80%;
  }
}

// We removed the counter on the li and put it here instead
// so we have greater control of placement
.object:before {
  position: absolute;
  top: calc(33% + (#{$halfRadius + 0px}));
  left: - em($halfRadius);
  margin: -.4375em 0 0 -.1875em;
  content: counter(li);
  counter-increment: li;
}

.thumbnail {
  display: none;

  @include bp($tablet) {
    display: block;
    float: left;
    margin: 0 1em 0 0;
    overflow: hidden;
  }
}

.object.reversed img {
  float: right;
  margin: 0 0 1em;
}

.header {
  display: inline-block;
}

.title,
.desc {
  overflow: hidden;
}

.title {
  margin: 0 0 1em 0;
}

.desc {
  margin: 0;

  @include bp($tablet) {
    max-width: 45%;
  }

  @include bp($laptop) {
    max-width: 55%;
  }

  @include bp($desktop) {
    max-width: 65%;
  }
}

.desc > p {
  margin: 0;
}

.desc > p:not(:first-child) {
  display: none;
}

.link {
  color: $black;
  text-decoration: none;
}
