@import '../../stylesheets/all';

.preloader {
  position: relative;
  margin-bottom: 2em;
  width: 100%;

  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

.preloader > div {
  margin: 2%;
}

.msg {
  position: absolute;
  top: em(125);
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  color: $emperor;
  text-align: center;
}

.header {
  height: em(373);
  background-color: $gallery;
}

.img {
  float: left;
  height: 20vw;
  width: 20%;
  background-color: $gallery;
}

.content {
  float: left;
  width: 70%;
  background-color: $white;
}

.placeholder {
  position: relative;
  width: 60%;
  height: .625em;
  margin-bottom: .625em;
  background-color: $gallery;
}

.placeholder:nth-child(2) {
  width: 80%;
  margin-top: 1.5em;
}

.placeholder:nth-child(3) {
  width: 90%;
}

.placeholder:nth-child(4) {
  width: 85%;
}

.btn {
  height: 5vw;
  width: 25vw;
  margin-top: 1.5em;
  background-color: $gallery;
}
