@import '../../stylesheets/all';

.title {
  margin-right: .5em;
  font-weight: bold;
}

.desc {
  @include bp($tablet) {
    display: block;
  }
}

.steps {
  margin-top: 0;
  margin-bottom: 2em;
  padding: 1em;
  background-color: $porcelain;
  text-indent: initial;
  list-style: none;

  @include bp($tablet) {
    background: linear-gradient(0deg, $white 0%, $cerulean-apha 70%, $boston-blue-alpha 100%);
    box-shadow: 0 -5px 15px -5px $dim-gray-alpha;
    opacity: .9;
  }
}

.step {
  // if CSS grid not is supported, do this:
  @include bp($tablet) {
    display: inline-block;
    width: 30%;
  }

  padding-left: 2em;
  background: url('../images/check.png') no-repeat 0 50%;
  background-size: 1.25em 1.25em;
  line-height: 1.25em;

  &:not(:last-child) {
    margin-bottom: 1.75em;
  }

  @include bp($tablet) {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  &:before {
    content: '';
    padding: initial;
  }
}

// if CSS grid is supported, do this:
@supports (display: grid) {
  .steps {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13em, 1fr));
    grid-gap: 1em;
  }

  .step {
    width: auto;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}