@import '../../../App/stylesheets/all';

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3.125em;
  background-color: $dim-gray-alpha;
}

.modal {
  margin: 0 auto;
  padding: 3em 1.25em;
  max-width: 15em;
  border-radius: .3125em;
  font-size: 2em;
  text-align: center;
  background-color: $white;
}

.close {
  margin-top: 1.25em;
  padding: .75em;
  width: auto;
  border: none;
  border-radius: .3125em;
  color: $white;
  font-size: .5em;
  cursor: pointer;
  background-color: $steel-blue;
}