@import '../../../App/stylesheets/all';

.quizmodal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  padding: 50px;
}

.quizmodal-modal {
  background-color: #fff;
  border-radius: 5px;
  max-width: 500px;
  min-height: 200px;
  margin: 0 auto;
  padding: 80px 20px;
  text-align: center;
  font-size: 2em;
}

.quizmodal-close {
  background-color: skyblue;
  border-radius: 6px;
  padding: 12px;
  margin-top: 20px;
  font-size: 0.5em;
  border: none;
  color: white;
  cursor: pointer;
  width: auto;
}