@import '../../../App/stylesheets/all';

.quiz-question {
	margin-bottom: 2em;
}

.quiz-questions {
	margin-top: .5em;
}

.quiz-question-text {
	margin-bottom: .5em;

	> p {
		display: inline;
	}
}

.quiz-instructions {
	margin-bottom: 0;
}

.quiz-msg {
	font-size: 1em;
	color: #a1a1a1;
}

.quiz-agrmt {
	font-weight: bold;
}

.quiz-lessons {
	margin-top: 1em;
	margin-bottom: .5em;
}

.quiz-button {
	width: 10em;
}

.quiz-required {
	color: red;
}

.quiz-notifier {
	background-color: #2f78ab;
	color: #ffffff;
}

#formQuiz input[type="checkbox"],
#formQuiz input[type="radio"] {
	margin-right: .7em;
}

#formQuiz input[type="submit"] {
	width: 15em;
}

#formQuiz input[type="submit"]:disabled {
  background: #dddddd;
  color: #aaaaaa;
}

.correct:after {
	content: '\2713';
	color: #00e500;
	margin-left: .3em;
	font-size: 1.3em;
}

.incorrect:after {
	content: '\2718';
	color: red;
	margin-left: .3em;
	font-size: 1.3em
}

