@import '../../../App/stylesheets/all';

.quiz-question {
	margin-bottom: 2em;

	ul {
		padding-left: .8em;
		margin-bottom: 1.2em;
	}

	li {
		list-style: none;
	}
}

.quiz-questions {
	margin-top: 1.2em;
	padding-top: 1.2em;
	padding-left: 1em;
	border-top: 1px solid #ddd;
}

.quiz-question-text {
	margin-bottom: .5em;

	> p {
		display: inline;
	}
}

.quiz-instructions {
	padding-top: .8em;
	margin-bottom: 0;
	border-top: 1px solid #ddd;
}

.quiz-msg {
	margin-top: 5px;
}

.quiz-hide {
	visibility: hidden;
}

.quiz-show {
	visibility: visible;
}

.quiz-incorrect {
	display: inline-block;
	margin-left: 1em;
	color: #ba1e2c;
}

.quiz-attempts {
	margin-top: 1em;
	color: #000000;
	font-weight: bold;
}

.quiz-agrmt {
	font-weight: bold;
	margin-bottom: .3em;
}

.quiz-lessons {
	margin-top: 1em;
	margin-bottom: .5em;
}

.quiz-lessons-list {
	padding-left:  1em;

	li {
		list-style: none;
	}
}

.quiz-button {
	width: 10em;
}

.quiz-required {
	color: red;
}

.quiz-notifier {
	background-color: #2f78ab;
	color: #ffffff;
}

#formQuiz input[type="checkbox"],
#formQuiz input[type="radio"] {
	margin-right: .7em;
}

#formQuiz input[type="submit"] {
	width: 15em;
	background-color: #c40837;
	color: #fff;
}

#formQuiz input[type="submit"]:disabled {
  background: #dddddd;
  color: #aaaaaa;
}

.correct:after {
	content: '\2713';
	color: #00e500;
	margin-left: .3em;
	font-size: 1.3em;
}

.incorrect:after {
	content: '\2718';
	color: red;
	margin-left: .3em;
	font-size: 1.3em
}
