@import '../../../App/stylesheets/all';

.formContainer {
	position: relative;
}

.question {
	margin-bottom: 2em;

	> ul {
		padding-left: .8em;
		margin-bottom: 1.2em;
		list-style: none;
	}
}

.questions {
	border-top: 1px solid $alto;
	margin-top: 1.2em;
	padding-top: 1.2em;
	padding-left: 1em;
}

.questionText {
	margin-bottom: .5em;

	> p {
		display: inline;
	}
}

.instructions {
	border-top: 1px solid $alto;
	margin-bottom: 0;
	padding-top: .8em;
}

.msg {
	margin-top: .3125em;
}

.hide {
	visibility: hidden;
}

.show {
	visibility: visible;
}

.incorrect {
	display: inline-block;
	margin-left: 1em;
	color: $thunderbird;
}

.attempts {
	margin-top: 1em;
	padding: 1em;
	background: $cream;
	color: $black;
	font-weight: bold;
}

.agrmt {
	margin-bottom: .3em;
	font-weight: bold;
}

.heading {
	margin-top: 1em;
	margin-bottom: .5em;
}

.lessons {
	padding-left:  1em;

	> li {
		list-style: none;
	}
}

.btn {
	width: 10em;
}

.required {
	color: $thunderbird;
}

.checkbox,
.radio {
	margin-right: .7em;
}

.submit {
	width: 15em;
	color: $white;
	background-color: $thunderbird;
}

.submit:disabled {
  color: $emperor;
  background-color: $alto;
}

.correct:after {
	content: '\2713';
	margin-left: .3em;
	color: $green;
	font-size: 1.3em;
}

.incorrect:after {
	content: '\2718';
	margin-left: .3em;
	color: $thunderbird;
	font-size: 1.3em;
}
