@import '../../../App/stylesheets/all';

.title {
  position: relative;
  margin: 0;
  padding: .5em .75em;
  background-color: $steel-blue;
  color: $white;
  line-height: 2em;
}

.terms {
  margin: 0;
  padding-left: 0;
  background-color: $white;
  font-size: 1em;
}

.term {
  border-bottom: 1px solid $alto;
  margin: 0;
  padding: .5em .75em;
  background: none;
  text-decoration: none;
  cursor: pointer;
  list-style: none;
}

.glossary {
  border: 1px solid $steel-blue;
  margin: 1em 0 0 0;

  @include bp($laptop) {
    margin: 1em 0 0 2em;
  }
}

.glossary .collapse {
  height: inherit;
  overflow: auto;
}

.trigger {
  margin: 0;
}
