@import '../../../App/stylesheets/all';

.title {
  margin: 0;
  padding: .5rem .75rem;
  background-color: $steel-blue;
  color: $white;
  line-height: 2em;
}

.terms {
  margin: 0;
  padding-left: 0;
  background-color: $white;
  font-size: 1em;
}

.term {
  border-bottom: 1px solid $alto;
  margin: 0;
  padding: .5em .75em;
  background: none;
  text-decoration: none;
  cursor: pointer;
  list-style: none;
}

.glossary {
  border: 1px solid $steel-blue;
  margin: 1em 0 0 0;
}

.glossary .collapse {
  height: inherit;
  overflow: auto;
}

.trigger {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  text-align: left;
}
