@import '../../../App/stylesheets/all';

.lesson .lesson-pagination {
  display: none;

  @include bp($tablet) {
    display: block;
    float: right;
    margin: 0;
    position: relative;
    z-index: 0;
  }
}

.lesson .lesson-pagination li {
  display: inline-block;
  line-height: 2em;
  margin: 0 0 0 1.5em;
  position: relative;
}

.lesson .lesson-pagination a {
  background-color: rgb(16, 85, 126);
  border-radius: 1em;
  color: #fff;
  padding: em(8) em(12);
  font-family: monospace;
  text-decoration: none;
}

.lesson .lesson-pagination li a {
  border: none;
  outline: none;
}

.lesson .lesson-pagination li::before {
  content: '';
  position: absolute;
  top: .9em;
  left: -3em;
  width: 3em;
  height: .2em;
  background: rgb(16, 85, 126);
  z-index: -1;
}

.lesson .lesson-pagination li:first-child::before {
  display: none;
}

.lesson .lesson-pagination .active ~ li a {
  background: rgb(141, 189, 217);
}

.lesson .lesson-pagination .active ~ li::before {
  background: rgb(141, 189, 217);
}
