@import '../../../App/stylesheets/all';

.page {
  display: none;

  @include bp($tablet) {
    position: relative;
    z-index: 0;
    float: right;
    display: block;
    margin: 0;
  }
}

.item {
  position: relative;
  display: inline-block;
  margin: 0 0 0 1.5em;
  line-height: 2em;
}

// override Corona styling
.item:first-child:before {
  display: none;
}

.item:not(:first-child):before {
  content: '';
  position: absolute;
  top: .9em;
  left: -3em;
  z-index: -1;
  height: .2em;
  width: 3em;
  background: $chathams-blue;
}

.link {
  border: none;
  border-radius: 50%;
  padding: .5em .75em;
  background-color: $chathams-blue;
  color: $white;
  font-family: monospace;
  text-decoration: none;
  outline: none;

  &:active,
  &:hover,
  &:focus,
  // :visited - override Corona styling
  &:visited {
    border-bottom: 0;
    color: $white;
  }
}

.active ~ .item .link,
.active ~ .item:before {
  background-color: $half-baked;
}
