@import '../../../App/stylesheets/all';

.print {
  padding-left: 1.5em;
  background-image: url('../images/printer-text.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.fileInfo {
  font-size: .875em;
}

:global .react-tabs__tab-list {
  border-bottom: none;
  margin: 0 0 .0625em;
  padding: 0;
  font-size: inherit;
  text-indent: initial;
}

:global .react-tabs__tab {
  position: relative;
  bottom: -.0625em;
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  margin: 0 .0625em 0 0;
  padding: .375em .75em;
  background: $half-baked;
  color: $white;
  cursor: pointer;
  list-style: none;
}

:global .react-tabs__tab--selected {
  border-radius: inherit;
  background: $chathams-blue;
  color: $white;
}

:global .react-tabs__tab-panel--selected {
  border: 1px solid $half-baked;
  margin-bottom: 1.25em;
  padding: 1em;
}

:global .react-tabs__tab-panel p {
  font-size: inherit;
}

:global .react-tabs__tab-panel ul {
  margin: 1em;
  font-size: inherit;
  text-indent: initial;
  list-style-type: disc;
}

// override Corona styling
:global .react-tabs__tab:before,
:global .react-tabs__tab-panel ul > li:before {
  content: '';
  display: none;
}
