@import '../abstracts/all';

$bottom: 2.25em;

section {
  margin: 0 0 1.5em 0;
}

h3 {
  margin-top: 0;
}

.course-intro {
  margin-bottom: -($bottom - 1.5em);
  overflow: hidden;
}

.course-intro-image {
  position: relative;
}

.course-intro-gradient {
  background: linear-gradient(0deg, #fff, transparent 100%, transparent);
  bottom: 0;
  height: 50%;
  left: 0;
  position: absolute;
  width: 100%;
}

.course-intro-text {
  position: relative;
  bottom: $bottom;
}

.course-intro-text div p:last-child {
  margin: 0;
}
