@import '../abstracts/all';

$radius: 40;
$halfRadius: ($radius/2);
$halfRadiusPx: $halfRadius + 0px;
$top: 33%;
$width: 50;

.lessons-list {
  overflow: hidden;
  position: relative;
}

.lessons-list__ordered {
  counter-reset: li;
  margin: 0;
  padding: 0 0 0 em($width);
}

.lessons-list__ordered::before {
  border-left: $border;
  content: '';
  height: 67%;
  left: em($width - $halfRadius);
  position: absolute;
  top: em(150);
}

.lessons-list-item {
  list-style: none;
  margin: 0 0 2em;
  position: relative;
}

.lessons-list-item::before {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 1);
  border: $border;
  border-radius: 50%;
  content: '';
  height: em($radius);
  left: - em($radius);
  position: absolute;
  top: $top;
  width: em($radius);
}

.lessons-list-item:last-child {
  margin: 0;
}

.lessons-list-item .media-object::before {
  content: counter(li);
  counter-increment: li;
  left: - em($radius - $halfRadius);
  margin: - em(7) 0 0 - em(3);
  position: absolute;
  top: calc(#{$top} + (#{$halfRadiusPx}));
}

.lessons-list__ordered .media-object img {
  display: none;

  @include bp($tablet) {
    display: block;
  }
}

.lessons-list__ordered .media-object {
  @include bp($tablet) {
    display: inline-block;
    width: 80%;
  }
}

.lessons-list__ordered .button-wrapper {
  @include bp($tablet) {
    display: inline-block;
    float: right;
    padding: 3em 0 0 1em;
    width: 20%
  }
}
