@import '../abstracts/all';

$radius: 40;
$halfRadius: ($radius/2);
$halfRadiusPx: $halfRadius + 0px;
$top: 33%;
$width: 50;

.lessons-list {
  overflow: hidden;
  position: relative;
}

// Reset the counter. See '.lessons-list-item .media-object::before'
// below, where we set the lesson number instead of on '.lessons-list-item'
.lessons-list__ordered {
  counter-reset: li;
  margin: 0;
  padding: 0 0 0 em($width);
}


//The line connecting the lesson numbers
.lessons-list__ordered::before {
  border-left: $border;
  content: '';
  left: em($width - $halfRadius);
  position: absolute;
  height: 60%;
  top: em(120);

  @include bp($tablet) {
    top: em(150);
    height: 63%;
  }
} 

.lessons-list-item {
  list-style: none;
  margin: 0 0 2em;
  position: relative;
}

// The circles around the lesson numbers
.lessons-list-item::before {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 1);
  border: $border;
  border-radius: 50%;
  content: '';
  height: em($radius);
  left: - em($radius);
  position: absolute;
  top: $top;
  width: em($radius);
}

.lessons-list-item:last-child {
  //margin: 0;
}

.lessons-list-item > a {
  background: #bd1827;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 1em;

  @include bp($tablet) {
    position: relative;
  }
  @include bp($laptop){
    position: absolute;
    margin-left: 0;
  }
}

// We removed the counter on the li and put it here instead
// so we have greater control of placement
.lessons-list-item .media-object::before {
  content: counter(li);
  counter-increment: li;
  left: - em($radius - $halfRadius);
  margin: - em(7) 0 0 - em(3);
  position: absolute;
  top: calc(#{$top} + (#{$halfRadiusPx}));
}

.lessons-list__ordered .media-object img {
  display: none;

  @include bp($tablet) {
    display: block;
  }
}

.lessons-list__ordered .media-object {
  display: inline-block;

  @include bp($laptop) {
    width: 80%;
  }
}

.lessons-list__ordered .media-object a {
  text-decoration: none;
  color: #000;
}

.lessons-list__ordered .button-wrapper {
  @include bp($laptop) {
    display: inline-block;
    float: right;
    padding: 3em 0 0 0;
  }
}

.lessons-list_ordered .media-object-description {
  @include bp($tablet) {
    width: 45%;
  }

  @include bp($laptop) {
    width: 55%;
  }

  @include bp($desktop) {
    width: 65%;
  }
}
