@import '../../../App/stylesheets/all';

$bottom: 3.5em;

section {
  margin: 0 0 1.5em 0;
  width: 100%;
}

h1, h3 {
  margin-top: 0;
}

.course-intro {
  margin-bottom: -($bottom - 1.5em);
  overflow: hidden;

  @include bp($tablet) {
    margin: 0;
  }
}

.course-intro-feature {
  @include bp($tablet) {
    position: relative;
  }

  @include bp($laptop) {
    height: em(325);
  }
}

.course-intro-image {
  position: relative;
  overflow: hidden;
  min-height: 4em;

  @include bp($tablet) {
    height: 100%;
    position: absolute;
    width: 100%;
  }
}

.course-intro-image img {
  @include bp($tablet) {
    float: right;
    max-width: none !important;
  }
}

.course-intro-image::before {
  @include bp($tablet) {
    background: linear-gradient(0deg, transparent 0, #fff 70%, transparent 100%);
    background: -moz-linear-gradient(0deg, transparent 0, #fff 70%, transparent 100%);
    background: -webkit-linear-gradient(0deg, transparent 0, #fff 70%, transparent 100%);
    background: -ms-linear-gradient(0deg, transparent 0, #fff 70%, transparent 100%);
    top: 0;
    content: '';
    height: 100%;
    position: absolute;
    width: 50%;
  }
}

.course-intro-gradient {
  background: linear-gradient(0deg, #fff, transparent 100%, transparent);
  bottom: 0;
  height: 50%;
  left: 0;
  position: absolute;
  width: 100%;

  @include bp($tablet) {
    background: linear-gradient(0deg,#fff 0%, rgb(0,121,175) 70%, rgb(70,143,176) 100%);
    background: -moz-linear-gradient(0deg,#fff 0%, rgb(0,121,175) 70%, rgb(70,143,176) 100%);
    background: -webkit-linear-gradient(0deg,#fff 0%, rgb(0,121,175) 70%, rgb(70,143,176) 100%);
    background: -ms-linear-gradient(0deg,#fff 0%, rgb(0,121,175) 70%, rgb(70,143,176) 100%);
    height: 100%;
    opacity: .4;
  }
}

.course-intro-text {
  bottom: $bottom;
  height: 100%;
  position: relative;

  @include bp($tablet) {
    background: linear-gradient(0deg,#fff 0%, #cde5f0 70%, transparent 100%);
    background: -moz-linear-gradient(0deg,#fff 0%, #cde5f0 70%, transparent 100%);
    background: -webkit-linear-gradient(0deg,#fff,#cde5f0 70%,transparent);
    background: -ms-linear-gradient(0deg,#fff 0%, #cde5f0 70%, transparent 100%);
    bottom: 0;
    padding: 1em;
    position: relative;
    width: 50%;
  }

  @include bp($laptop) {
    padding: 1em 2em 2em;
  }
}

.course-intro-text a {
  text-align: center;
  text-decoration: none;
}

.course-take-course {
  background: #bd1827;
  padding: 1em;
  text-decoration: none;
  color: white;

  @include bp($tablet) {
    width: 8em;
  }
}
