@import '../../../App/stylesheets/all';

.instructors-list .media-object {
  border: $border;
}

.instructors-list .media-object {
  @include bp($laptop) {
    clear: none;
    float: left;
    margin: 0 1% 0 0;
    box-sizing: border-box;
  }
}

.instructors-list .media-object.half {
  @include bp($laptop) {
    width: 49%;
  }
}

.instructors-list .media-object.one-third {
  @include bp($laptop) {
    width: 32%;
  }
}

.instructors-list .media-object:last-child {
  @include bp($laptop) {
    margin: 0;
  }
}

.instructors-list .media-object img {
  width: 100%
}

.instructors-list .media-object header {
  margin-top: 20px;
}

.instructors-list .media-object-title {
  margin: 0 0 8px 0;
}

.instructors-list .media-object-subtitle {
  margin: 0 0 16px 0;
}
