@import '../../../App/stylesheets/all';

.instructors:before,
.instructors:after {
  content: ' ';
  display: table;
}

.instructors:after {
  clear: both;
}

.instructor {
  margin-bottom: 1.25em;
  padding: 1.125em;
  border: 1px solid $alto;

  @include bp($tablet) {
    box-sizing: border-box;
    float: left;

    &:not(:last-child) {
      margin-right: 1%;
    }

    &:nth-of-type(3n + 4) {
      clear: left;
    }
  }

  > a:active,
  > a:hover,
  > a:focus {
    border-bottom-width: 0;
  }
}

@include bp($tablet) {
  .half {
    width: 49%;
  }
  .oneThird {
    width: 32%;
  }
}

.img {
  width: 100%;
}

.header {
  margin-top: 1.25em;
}

.title {
  margin: 0 0 .5em 0;
}

.subtitle {
  margin: 0 0 1em 0;
  color: $emperor;
}
