@import '../../../App/stylesheets/all';

.img {
  // !important overrides Corona styling
  width: 100% !important;
}

.header {
  margin-top: 1.25em;
}

.title {
  margin: 0 0 .5em 0;
}

.subtitle {
  margin: 0 0 1em 0;
  color: $emperor;
}

// if CSS grid is not supported, do this:
.instructor {
  margin-bottom: 1.25em;
  padding: 1.125em;
  border: 1px solid $alto;

  @include bp($tablet) {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;

    &:not(:last-child) {
      margin-right: 1%;
    }
  }

  > a:active,
  > a:hover,
  > a:focus {
    border-bottom-width: 0;
  }
}

@include bp($tablet) {
  .half {
    width: 49%;
  }
  .oneThird {
    width: 32%;
  }
}

// if CSS grid is supported, do this:
@supports (display: grid) {
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    grid-gap: 1em;
  }
  
  @include bp($tablet) {
    .instructor {
      &:not(:last-child) {
        margin-right: initial;
      }
    }

    .half,
    .oneThird {
      width: auto;
    }
  }
}
