@import '../../../App/stylesheets/all';

.lessons {
  position: relative;
  margin-bottom: 2em;
}

// Reset the counter. See 'MediaObject.scss .object:before',
// where we set the lesson number instead of on '.item'
.ordered {
  margin: 0;
  padding: 0 0 0 3.125em;
  counter-reset: li;
}

.item {
  position: relative;
  margin: 0 0 2em;
  list-style: none;
}

// The circles around the lesson numbers
.item:before {
  position: absolute;
  top: 35%;
  left: -2.3em;
  content: '';
  height: em($radius);
  width: em($radius);
  border: 1px solid $alto;
  border-radius: 50%;
  background-color: $white;
}

.cta {
  @include bp($tablet) {
    position: relative;
  }
  
  @include bp($laptop){
    position: absolute;
    margin-left: 0;
  }

  top: 40%;
  margin-left: 1em;
  padding: .625em 1.25em;
  color: $white;
  text-decoration: none;
  background: $chathams-blue;
  transform: translateY(-50%);
}

.cta:active,
.cta:hover,
.cta:focus {
  color: $white;
}
