@import '../../../App/stylesheets/all';

// .instructor {
//   @include bp($tablet) {
//     float: left;
//     width: 66%;
//   }
// }

.title {
  margin: 0 0 8px 0;
}
.img {
  width: 100%;
  float: left;
  margin: 0 1em 1em 0;
  @include bp($tablet) {
    width: 50%;
  }
}

.subtitle {
  color: #4f4f4f;
  font-size: 100%;
  margin-bottom: 1em;
}
