@import '../../../App/stylesheets/all';

.instructor {
  @include bp($tablet) {
    width: 66%;
  }
}

.title {
  margin: 0 0 8px 0;
}
.img {
  float: left;
  width: 100%;
  
  @include bp($tablet) {
    // !important overrides Corona styling
    width: 33% !important;
  }

  margin: 0 1em 1em 0;
}

.subtitle {
  margin-bottom: 1em;
  color: #4f4f4f;
  font-size: 100%;
}
